.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100svh - 64px);
  }
  
  .card {
    width: 18rem;
    padding: 2rem;
    text-align: center;
    &__header {
      flex-direction: column-reverse;
      align-items: center;

      h1 {
        padding-top: 1rem;
      }
    }
    &__content {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    &__form {
      display: flex;
      flex-direction: column;
    }
    mat-spinner.loader {
        align-self: center;
        width: 3rem !important;
        height: 3rem !important;
    }
  }

  @media screen and (min-width: 400px) {
    .card {
      width: 24rem;
    }
  }