<div class="movieDetail" *ngIf="movieInfo() as movieInfo; else loading">
  <img
    *ngIf="movieInfo.detail.poster_path"
    [src]="displayImage(movieInfo.detail.poster_path)"
    [alt]="movieInfo.detail.title"
    class="movieDetail__image"
  />
  <div class="movieDetail__content">
    <h1>{{ movieInfo.detail?.title }}</h1>
    <p>{{ movieInfo.detail?.overview }}</p>
    <mat-chip-listbox aria-label="Genres">
      <mat-chip
        class="genreChip"
        disableRipple="true"
        *ngFor="let genre of movieInfo.detail.genres"
      >
        {{ genre.name }}
      </mat-chip>
    </mat-chip-listbox>
    <div class="info">
      <p
        class="info__row"
        *ngIf="getMovieCredits(movieInfo.credits, 'Director').length > 0"
      >
        <b>Directors: </b
        ><span
          *ngFor="
            let director of getMovieCredits(movieInfo.credits, 'Director')
          "
          >{{ director.name }}
        </span>
      </p>
      <p
        class="info__row"
        *ngIf="getMovieCredits(movieInfo.credits, 'Writer').length > 0"
      >
        <b>Writers: </b
        ><span
          *ngFor="let writer of getMovieCredits(movieInfo.credits, 'Writer')"
          >{{ writer.name }}
        </span>
      </p>
      <p
        class="info__row"
        *ngIf="getMovieCredits(movieInfo.credits).length > 0"
      >
        <b>Stars: </b
        ><span *ngFor="let star of getMovieCredits(movieInfo.credits)"
          >{{ star.name }}
        </span>
      </p>
    </div>
    <a class="page-link" (click)="goBack()">Go back to the list</a>
  </div>
</div>
<ng-template #loading>
  <mat-spinner class="loader"></mat-spinner>
</ng-template>
