.page-link {
  color: var(--dark-color);
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color) 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 0;
  position: relative;
  transition: all 0.3s ease-in-out;

  &:visited,
  &:active {
    color: var(--primary-color);
  }

  &:before {
    content: "";
    background: var(--primary-color);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    padding: 0.2rem;
    color: var(--light-color);
    background-position: 0;

    &:before {
      width: 100%;
    }
  }
}

.menu-link {
  color: white;
  margin-right: 1rem;
  text-decoration: none;

  &.active {
    font-weight: 600;
  }

  &:link,
  &:visited {
    color: white;
  }
  &:hover {
    color: var(--primary-color);
  }
  transition: all 0.2s;
}

.auth-link {
  position: relative;
  text-decoration: underline;
  color: var(--dark-color);
  transition: letter-spacing 0.3s ease-in-out;

  &:visited,
  &:active {
    color: var(--dark-color);
  }

  &:hover {
    color: var(--primary-color);
    letter-spacing: 0.1rem;
  }
}
