::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--grey-color);
  transition: background-color 0.8s;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color-hover);
}
