<mat-card class="movieCard">
    <mat-card-header>
    <mat-card-title 
        [ngClass]="{'trimmed': movie.name.length > 16}"
        [matTooltip]="displayTooltip(movie.name)">{{ movie.name  | trimText: 16 }}</mat-card-title>
    <mat-card-subtitle>
        <p *ngFor="let genre of movie.genre_ids">
        {{ genre.name }}
        </p>
    </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image 
    class="movieCard__image"
    [src]="displayImage(movie.poster_path)"
    [alt]="movie.name">
    <mat-card-content>
    <p>
        {{ movie.overview | noDescription | trimText: 100 }}
    </p>
    </mat-card-content>
</mat-card>