

<div *ngIf="trendingTvShows() as trendingTvShows; else loading">
    <h2>Trending TV Shows</h2>
    <ul>
      <li *ngFor="let show of trendingTvShows">
        {{ show.name }}
      </li>
    </ul>
</div>
<div *ngIf="topRatedMovies() as topRatedMovies; else loading">
    <h2>Top Movies</h2>
    <ul>
      <li *ngFor="let topMovies of topRatedMovies">
        {{ topMovies.name }}
      </li>
    </ul>
</div>
<div *ngIf="popularMovies() as popularMovies; else loading">
    <h2>Popular Movies</h2>
    <ul>
      <li *ngFor="let popMovies of popularMovies">
        {{ popMovies.name }}
      </li>
    </ul>
</div>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>