<div class="movieList" *ngIf="trendingTvShows() as trendingTvShows; else loading">
    <h1>Trending TV Shows</h1>
    <div class="movieList__container">
      <mat-card class="movieList__card" *ngFor="let show of trendingTvShows">
      <mat-card-header>
        <mat-card-title [matTooltip]="displayTooltip(show.name)">{{ show.name | trimText: 16 }}</mat-card-title>
        <mat-card-subtitle>
          <p *ngFor="let genre of show.genres">
            {{ genre.name }}
          </p>
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
        class="movieList__list"
        [src]="displayImage(show.poster_path)"
        [alt]="show.name">
      <mat-card-content>
        <p>
          {{ show.overview | noDescription | trimText: 100 }}
        </p>
      </mat-card-content>
    </mat-card>
    </div>
</div>
<div class="movieList" *ngIf="topRatedMovies() as topRatedMovies; else loading">
    <h1>Top Movies</h1>
    <div class="movieList__container">
      <mat-card class="movieList__card" *ngFor="let topMovies of topRatedMovies">
      <mat-card-header>
        <mat-card-title [matTooltip]="displayTooltip(topMovies.name)">{{ topMovies.name | trimText: 16  }}</mat-card-title>
        <mat-card-subtitle>
          <p *ngFor="let genre of topMovies.genres">
            {{ genre.name }}
          </p>
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
        class="movieList__list"
        [src]="displayImage(topMovies.poster_path)"
        [alt]="topMovies.name">
      <mat-card-content>
        <p>
          {{ topMovies.overview | noDescription | trimText: 100 }}
        </p>
      </mat-card-content>
    </mat-card>
    </div>
</div>
<div class="movieList" *ngIf="popularMovies() as popularMovies; else loading">
    <h1>Popular Movies</h1>
    <div class="movieList__container">
      <mat-card class="movieList__card" *ngFor="let popMovies of popularMovies">
      <mat-card-header>
        <mat-card-title [matTooltip]="displayTooltip(popMovies.name)">{{ popMovies.name | trimText: 16 }}</mat-card-title>
        <mat-card-subtitle>
          <p *ngFor="let genre of popMovies.genres">
            {{ genre.name }}
          </p>
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
        class="movieList__list"
        [src]="displayImage(popMovies.poster_path)"
        [alt]="popMovies.name">
      <mat-card-content>
        <p>
          {{ popMovies.overview | noDescription | trimText: 100 }}
        </p>
      </mat-card-content>
    </mat-card>
    </div>
</div>
<ng-template #loading>
  <mat-spinner class="loader"></mat-spinner>
</ng-template>