$movie-mash-accent: (
    50 : #f5feff,
    100 : #e5fdff,
    200 : #d4fcff,
    300 : #c2fbff,
    400 : #b5faff,
    500 : #a8f9ff,
    600 : #a0f8ff,
    700 : #97f7ff,
    800 : #8df6ff,
    900 : #7df5ff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$movie-mash-primary: (
    50 : #fee0ef,
    100 : #fcb3d6,
    200 : #fa80bb,
    300 : #f74d9f,
    400 : #f6268b,
    500 : #f40076,
    600 : #f3006e,
    700 : #f10063,
    800 : #ef0059,
    900 : #ec0046,
    A100 : #ffffff,
    A200 : #ffe0e7,
    A400 : #ffadc0,
    A700 : #ff93ac,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
