$movie-mash-primary: (
    50 : #f4e1ea,
    100 : #e4b3ca,
    200 : #d381a7,
    300 : #c14f84,
    400 : #b32969,
    500 : #a6034f,
    600 : #9e0348,
    700 : #95023f,
    800 : #8b0236,
    900 : #7b0126,
    A100 : #ffa8bc,
    A200 : #ff7594,
    A400 : #ff426c,
    A700 : #ff2958,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$movie-mash-accent: (
    50 : #f3f9e6,
    100 : #e2f0c0,
    200 : #cfe697,
    300 : #bcdb6d,
    400 : #add44d,
    500 : #9fcc2e,
    600 : #97c729,
    700 : #8dc023,
    800 : #83b91d,
    900 : #72ad12,
    A100 : #f1ffde,
    A200 : #dcffab,
    A400 : #c7ff78,
    A700 : #bdff5e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
