<div class="container">
  <h1>Search movies by genre:</h1>
  <form [formGroup]="movieForm">
    <mat-form-field appearance="fill" *ngIf="movieGenres() as movieGenre">
      <mat-label>Select a movie genre</mat-label>
      <mat-select formControlName="selectedGenre" color="accent">
        <mat-option *ngFor="let genre of movieGenre" [value]="genre.id">{{
          genre.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <ng-container *ngIf="movieListByGenre() as movies; else loading">
    <div *ngIf="movies.length > 0">
      <moma-movie-gallery [movies]="movies"></moma-movie-gallery>
    </div>
  </ng-container>
  <ng-template #loading><mat-spinner class="loader"></mat-spinner></ng-template>
</div>
