<h1>Movies</h1>

<div *ngIf="movieDetail$ | async as movieDetail; else loading">
  <h2>Movie detail</h2>
  <h3>{{ movieDetail.title }}</h3>
  <ul>
      <li *ngFor="let genre of movieDetail.genres">
        {{ genre.name }}
      </li>
    </ul>
</div>
<div *ngIf="movieGenre$ | async as movieGenre; else loading">
  <h2>Movie Genre</h2>
  <ul>
    <li *ngFor="let genre of movieGenre"> 
      {{ genre.name }} {{ genre.id }}
    </li>
  </ul>
</div>
<div *ngIf="movieListByGenre$ | async as movieListByGenre; else loading">
  <h2>Movie by Genre</h2>
  <ul>
    <li *ngFor="let genre of movieListByGenre">
      {{ genre.title }} {{ genre | json }}
    </li>
  </ul>
</div>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>