<mat-toolbar class="toolbar">
  <button fxHide.gt-xs mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="../../../assets/images/logo.svg" class="logo" />
  <span class="example-spacer"></span>
  <div fxFlex fxHide fxShow.gt-xs>
    <div class="content" *ngIf="isLoggedIn; else showLoginLink">
      <div class="content__links">
        <a routerLink="/home" routerLinkActive="active" class="menu-link"
          >Home</a
        >
        <a routerLink="/movies" routerLinkActive="active" class="menu-link"
          >Movies</a
        >
        <a routerLink="/favorites" routerLinkActive="active" class="menu-link"
          >Favorites</a
        >
      </div>
      <div class="content__user">
        <span>{{ userEmail | async }}</span>
        <a (click)="logout()" routerLink="/login" class="menu-link"
          ><mat-icon>logout</mat-icon></a
        >
      </div>
    </div>
    <ng-template #showLoginLink>
      <a routerLink="/login" class="menu-link">Login</a>
    </ng-template>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="/">Home</a>
  <a mat-menu-item routerLink="/movies" *ngIf="isLoggedIn">Movies</a>
  <a mat-menu-item routerLink="/favorites" *ngIf="isLoggedIn">Favorites</a>
  <a mat-menu-item routerLink="/login" *ngIf="!isLoggedIn">Login</a>
  <a mat-menu-item (click)="logout()" *ngIf="isLoggedIn" class="logout"
    >Logout <mat-icon>exit_to_app</mat-icon></a
  >
</mat-menu>
