<mat-toolbar class="toolbar">
    <button fxHide.gt-xs mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/images/logo.svg" class="logo"/>
    <span class="example-spacer"></span>
    <div fxFlex fxHide fxShow.gt-xs>
        <ng-container *ngIf="isLoggedIn; else showLoginLink">
            <a routerLink="/home" class="menu-link">Home</a>
            <a routerLink="/movies" class="menu-link">Movies</a>
            <a routerLink="/favorites" class="menu-link">Favorites</a>
            <a routerLink="/tv-series" class="menu-link">Tv Series</a>
            <a (click)="logout()" routerLink="/login" class="menu-link">Logout</a>
        </ng-container>
        <ng-template #showLoginLink>
            <a routerLink="/login" class="menu-link">Login</a>
        </ng-template>
    </div>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/">Home</a>
    <a mat-menu-item routerLink="/movies" *ngIf="isLoggedIn">Movies</a>
    <a mat-menu-item routerLink="/favorites" *ngIf="isLoggedIn">Favorites</a>
    <a mat-menu-item routerLink="/tv-series" *ngIf="isLoggedIn">TV Series</a>
    <a mat-menu-item routerLink="/login" *ngIf="!isLoggedIn">Login</a>
    <a mat-menu-item (click)="logout()" *ngIf="isLoggedIn" class="logout">Logout <mat-icon>exit_to_app</mat-icon></a>
  </mat-menu>